/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins400.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/poppins500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/poppins700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  box-sizing: border-box;
  
}

body {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  background-color: #f5f5f5;
}

.container {
  max-width: 1232px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.unstyled-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}


/* header section style start */

.site-header {
  padding-top: 39px;
  padding-bottom: 39px;
}

.site-header__wrapper {
  display: flex;
  align-items: center;
}

.site-header__logo {
  margin-right: 216px;
}

.site-nav {
  margin-right: 80px;
}

.site-nav__list {
  display: flex;
  column-gap: 48px;
}

.site-nav__link {
  color: #8e8e8e;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
  letter-spacing: 0.5px;
  text-decoration: none;
}

.site-nav__link:hover {
  color: #69b99d;
}

.site-nav__link:active {
  color: #69b99d;
}

.site-header__form {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.site-header__form-btn {
  display: inline-flex;
  padding: 16px 48px 15px 48px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.04px;
}

.site-header__form-signin {
  color: #69b99d;
  background-color: #f5f5f5;
}

.site-header__form-login {
  color: #fff;
  background-color: #69b99d;
}

/* header section end */

/* Hero section start */

.hero-section {
  padding-top: 49px;
  padding-bottom: 108px;
  background-image: url("../images/herobackimg.png");
  background-size: 806px 761px;
  background-repeat: no-repeat;
  background-position: calc(50% + 310px) calc(50% - 30px);
}

.hero-section__link {
  display: inline-flex;
  margin-bottom: 32px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #69b99d;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
  letter-spacing: 0.5px;
  text-decoration: none;
  background-color: #f8f9fe;
  border-color:#69b99d;
}

.hero-section__title-wrapper {
  width: 605px;
  margin-bottom: 120px;
}

.hero-section__title {
  margin-top: 0;
  margin-bottom: 24px;
  color: var(--Tittle, #1F2744);
  font-size: 64px;
  font-weight: 600;
  line-height: 74px; /* 115.625% */
  letter-spacing: 0.16px;
}

.hero-section__desc-wrapper {
  width: 502px;
}

.hero-section__desc {
  color: #73788c;
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.04px;
}

.hero-section__form {
  width: 751px;
  height: 124px;
  flex-shrink: 0;
  background: #fefeff;
  box-shadow: 35px 35px 65px 0px rgba(146, 106, 120, 0.16); 
}
/* hero section style end */

/* recomendatiom section start */

.recomendation-section {
  padding-top: 120px;
  padding-bottom: 108px;
  background-color: #fefeff;
}

.recomendation-section__link {
  display: inline-flex;
  margin-bottom: 16px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #69b99d;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
  letter-spacing: 0.5px;
  background: #f8f9fe;
  text-decoration: none;
}

.recomendation-section__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 48px;
}

.recomendation-section__title-wrapper {
  width: 492px;
}

.recomendation-section__title {
  margin-top: 0;
  margin-bottom: 16px;
  color: #054457;
  font-family: Rubik;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px; /* 116.667% */
  letter-spacing: 0.5px;
}

.recomendation-section__desc {
  margin: 0;
  color: #73788C;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.04px;
}

.recomendation-section__learn-link {
  display: inline-flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #69B99D;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
  letter-spacing: 0.5px;
  text-decoration: none;
}

.recomendation-section__learn-link::after {
  content: "";
}

.recomendation-section__house-list {
  display: flex;
  column-gap: 34px;
}

.house__item {
  padding: 16px;
  border: 1px solid #DEDCDA;
  background-color: #FEFEFF;
}

.house__img {
  margin-bottom: 16px;
}

.house__title {
  margin-top: 0;
  margin-bottom: 8px;
  color: var(--Tittle, #1F2744);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.06px;
}

.house__desc {
  margin-top: 0;
  margin-bottom: 16px;
  color: #a6a6a6;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.04px;
}

.house__info-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.house__price {
  margin-right: 32px;
  color: #69b99d;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.06px;
}

.house__info {
  color: #a6a6a6;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04px;
}

.house__area {
  color: #1F2744;
  margin-right: 2px;
}

.house__sent-btn {
  display: flex;
  width: 344px;
  height: 60px;
  padding: 12px 48px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border: 1px solid #69b99d;
  color: #69B99D;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.04px;
}

.house__sent-btn--active {
  color: #fefeff;
  background-color: #5c9682;
}

/* recomentdation section end */

/* rectangle section start */

.rectangle-section {
  padding-top: 80px;
  padding-bottom: 100px;
}

.rectangle-section__link {
  display: inline-flex;
  margin-bottom: 16px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #69b99d;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
  letter-spacing: 0.5px;
  text-decoration: none;
  background-color: #f8f9fe;
}

.rectangle-section__title-wrapper {
  width: 436px;
  margin-bottom: 48px;
}

.rectangle-section__title {
  margin-top: 0;
  margin-bottom: 0;
  color: #054457;
  font-family: Rubik;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 116.667% */
  letter-spacing: 0.5px;
}


.rectangle-section__list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.rectangle-section__item {
  padding: 25px 20px 20px 20px;
  width: 376px;
}

.rectangle-section__item-title {
  margin-top: 0;
  margin-bottom: 16px;
  color: #054457;
  font-size: 28px;
  font-weight: 700;
  line-height: 38px; /* 135.714% */
  letter-spacing: 0.5px;
}

.rectangle-section__item-title::before {
  display: block;
  width: 45px;
  height: 42px;
  margin-bottom: 16px;
  background-image: url("../images/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45px 42px;
  content: "";
}

.rectangle-section__item:nth-child(2) > .rectangle-section__item-title::before {
  width: 39px;
  height: 45px;
  margin-bottom: 16px;
  background-image: url("../images/shield.svg");
  background-size: 39px 45px;
}

.rectangle-section__item:nth-child(3) > .rectangle-section__item-title::before {
  width: 45px;
  height: 42px;
  margin-bottom: 16px;
  background-image: url("../images/star.svg");
  background-size: 45px 42px;
}

.rectangle-section__item:nth-child(4) > .rectangle-section__item-title::before {
  width: 45px;
  height: 40px;
  background-image: url("../images/ticket.svg");
  background-size: 45px 40px;
}

.rectangle-section__item:nth-child(5) > .rectangle-section__item-title::before {
  width: 39px;
  height: 45px;
  background-image: url("../images/heart.svg");
  background-size: 39px 45px;
}

.rectangle-section__item:nth-child(6) > .rectangle-section__item-title::before {
  width: 44px;
  height: 45px;
  background-image: url("../images/heart.svg");
  background-size: 44px 45px;
}

.rectangle-section__item-desc {
  margin-top: 0;
  margin-bottom: 0;
  color: #73788c;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.5px;
}



/* rectangle section end */


/* about us section start  */

.about-section {
  padding-top: 216px;
  padding-bottom: 110px;
  background-color: #fefeff;
}

.about-section__wrapper {
  display: flex;
  column-gap: 56px;
}

.about-section__wrapper-left {
  position: relative;
  width: 609px;
  height: 475px;
}

.review-card {
  position: absolute;
  top: -80px;
  left: 96px;
  width: 174px;
  height: 236px;
  padding: 32px;
  flex-shrink: 0;
  background-color: #fefeff;
  box-shadow: 35px 35px 65px 0px rgba(146, 106, 120, 0.16);
  z-index: 2;
}

.review-card__ball {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  color: #054457;
  font-size: 72px;
  font-weight: 400;
  line-height: 80px; /* 111.111% */
  letter-spacing: 0.18px;
}

.review-card__list {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  margin-bottom: 16px;
}

.review-card__item {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  background-image: url("../images/starabout.svg");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
}

.review-card__desc {
  margin-top: 0;
  margin-bottom: 2px;
  text-align: center;
  color: #a6a6a6;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.04px;
}

.review-card__reviews {
  display: flex;
  justify-content: center;
  color: #054457;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.04px;
}

.review-card__total-wrapper {
  position: absolute;
  left: 107px;
  bottom: 0;
  display: inline-flex;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 32px;
  z-index: 2;
  background-color: #fff;
}

.review-card__total-name-wrapper {
  display: flex;
  align-items: center;
  width: calc(123px + 8px + 72px);
  height: 58px;
  column-gap: 8px;
}

.review-card__total {
  color: #054457;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px; /* 120.833% */
  letter-spacing: 0.12px;
}

.review-card__total-name {
  color: #a6a6a6;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.04px;
}

.about-section__wrapper-rigth {
  padding-top: 35px;
  padding-bottom: 34px;
}

.about-section__link {
  display: inline-flex;
  margin-bottom: 16px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #69b99d;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
  letter-spacing: 0.5px;
  text-decoration: none;
  background: #f8f9fe;
}

.about-section__title {
  margin-top: 0;
  margin-bottom: 16px;
  color: #054457;
  font-family: Rubik;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 116.667% */
  letter-spacing: 0.5px;
}

.about-section__desc {
  margin-top: 0;
  margin-bottom: 48px;
  padding-right: 23px;
  color: #73788C;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.04px;
}

.about-section__learn-link {
  display: inline-flex;
  padding: 18px 48px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: #69B99D;
  box-shadow: 24px 24px 65px 0px rgba(81, 140, 119, 0.24);
  color: #fefeff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.04px;
  text-decoration: none;
}



/* customer section start */

.customer-section {
  padding: 80px 0;
}

.customer-section__wrapper {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 48px;
}

.customer-section__link {
  display: inline-flex;
  margin-bottom: 16px;
  padding: 12px 24px; 
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #f8f9fe;
  color: #69B99D;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
  letter-spacing: 0.5px;
  text-decoration: none;
}

.customer-section__title {
  margin-top: 0;
  margin-bottom: 0;
  color: #054457;
  font-family: Rubik;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 116.667% */
  letter-spacing: 0.5px;
}

.customer-section__learn-link {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #69B99D;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
  letter-spacing: 0.5px;
  text-decoration: none;
}

.customer-section__list {
  display: flex;
  column-gap: 32px;
}

.customer-section__item {
  width: 376px;
  padding: 24px;
  flex-shrink: 0;
  border: 1px solid #dedcda;
}

.customer-section__item:nth-child(1) > .customer-section__item-title-wrapper,  .customer-section__item:nth-child(1) > .customer-section__item-title-wrapper {
  width: 265px;
}

.customer-section__item-title-wrapper {
  width: 312px;
  margin-bottom: 16px;
}

.customer-section__item-title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--Tittle, #1F2744);
  font-size: 18px;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.045px;
}

.customer-section__item-desc {
  margin-top: 0;
  margin-bottom: 26px;
  color: var(--Tittle, #1F2744);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.04px;
}

.customer-section__user-wrapper {
  display: flex;
  align-items: center;
  column-gap: 14px;
}

.customer-section__user-name {
  margin-top: 0;
  margin-bottom: 4px; 
  color: #0B2E29;
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.5px;
}

.customer-section__user-desc {
  margin-top: 0;
  margin-bottom: 0;
  color: #767676;
  font-family: "Nunito Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 22px; /* 183.333% */
  letter-spacing: 0.5px;
}

/* Customer section end */

/* contact section start */
.contact-section {
  padding-top: 120px;
  padding-bottom: 126px;
  background-color: #fefeff;
}

.contact-section__title-wrapper {
  width: 713px;
  margin-bottom: 53px;
}

.contact-section__title {
  margin-top: 0;
  margin-bottom: 0;
  color: #054457;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 72px */
}

.contact-section__wrapper {
  display: flex;
  column-gap: 122px;
}

.contact-section__wrapper-left {
  width: 462px;
}

.contact-section__desc {
  margin-top: 0;
  margin-bottom: 34px;
  color: var(--Tittle, #1F2744);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.contact-section__address {
  font-style: normal;
}

.contact-section__address-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.contact-section__address-item {
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.contact-section__address-link {
  color: var(--Tittle, #1F2744);
  font-size: 24px;
  font-weight: 500;
  line-height: 150%; /* 36px */
  text-decoration: none;
}
/* contact section end */